.bottom-area {
  width: 100%;
  height: 180px;
  background: #f15946;
  color: #fff;
  padding: 40px 0 0 0;
  text-align: center;
  .top-title {
    margin-bottom: 25px;
    font-size: 18px;
    a {
      color: #fff;
    }
  }
  .copyright {
    font-size: 14px;
    a {
      margin-right: 5px;
    }
  }
}
