.header-area {
  width: 100%;
  height: 46px;
  background-color: #f15946;
  .header-container {
    width: 1200px;
    height: 46px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    .ant-menu-title-content {
      color: #fff;
    }
    .selected-item {
      background-color: #fff;
      span {
        color: #f15946;
      }
    }
  }
  .menu-item {
    margin: 0 16px;
    color: #fff;
  }
  .input-area {
    margin-left: 20px;
    width: 320px;
    height: 38px;
    border-radius: 19px;
    background: #d00000;
    // border:;
    // opacity: 0.15;
  }
  .ant-menu-horizontal {
    background: #f15946;
    color: #fff;
    border: none;
    font-size: 18px;
  }
}
